@import url(http://fonts.googleapis.com/css?family=Ubuntu);

.holder{
  position: relative;
}
.holder .avatar{
  margin: 25px auto;
}
.holder .avatar img.user {
  background-color: #f8b619;
  box-shadow: 0 0 0 5px #f8b619;
  border-radius: 50%;
}
.holder .avatar img.user:hover {
  cursor: pointer;
  -moz-animation: bounceOut .4s linear;
  -webkit-animation: bounceOut .4s linear;
}
.backtohome{
  margin-left: 140.3px;
}
.backhistory{
	margin-right: 70px;

	float: right;
}
#pfoot{
	height: 75px;
  border-width: 0 0 1px;
border-top-width: 0px;
border-right-width: 0px;
border-bottom-width: 1px;
z-index: 1030;
border-radius: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
margin-top: 73px;
text-align: center;


  background-color:#f7f7f7;
}
body{
;
}
.tlo{
	margin-top: 8px;
	
	text-align: center;
	font-size: 20px;

}
.psocial{
  width: 70px;
height: 70px;
font-size: 35px;
margin-top: 20px;
margin-right: 30px;	
margin-left: 70px;
padding: 30;
text-align: center;

}
#myfoot{
  background-color: #282828;
  
}

.pe
{
	background-color: #5a5a5a;
}
#psocial{
	margin-left: 86px;
}
@-moz-keyframes bounceOut {
  0% {
    box-shadow: 0 0 0 4px #f8b619;
    opacity: 1;
  }

  25% {
    box-shadow: 0 0 0 1px #f8b619;
    opacity: 1;
  }

  50% {
    box-shadow: 0 0 0 7px #f8b619;
    opacity: 1;
  }

  75% {
    box-shadow: 0 0 0 4px #f8b619;
    opacity: 1;
  }

  100% {
    box-shadow: 0 0 0 5px #f8b619;
    opacity: 1;
  }
}

@-webkit-keyframes bounceOut {
  0% {
    box-shadow: 0 0 0 4px #f8b619;
    opacity: 1;
  }

  25% {
    box-shadow: 0 0 0 1px #f8b619;
    opacity: 1;
  }

  50% {
    box-shadow: 0 0 0 7px #f8b619;
    opacity: 1;
  }

  75% {
    box-shadow: 0 0 0 4px #f8b619;
    opacity: 1;
  }

  100% {
    box-shadow: 0 0 0 5px #f8b619;
    opacity: 1;
  }
}





.holder2{
  position: relative;
}
.holder2 .avatar2{
  margin: 25px auto;
}
.holder2 .avatar2 img.user2 {
  background-color: #3a3a3c;
  box-shadow: 0 0 0 5px #3a3a3c;
}
.holder2 .avatar2 img.user2:hover {
  cursor: pointer;
  -moz-animation: bounceOutt .4s linear;
  -webkit-animation: bounceOutt .4s linear;
}

@-moz-keyframes bounceOutt {
  0% {
    box-shadow: 0 0 0 4px #3a3a3c;
    opacity: 1;
  }

  25% {
    box-shadow: 0 0 0 1px #3a3a3c;
    opacity: 1;
  }

  50% {
    box-shadow: 0 0 0 7px #3a3a3c;
    opacity: 1;
  }

  75% {
    box-shadow: 0 0 0 4px #3a3a3c;
    opacity: 1;
  }

  100% {
    box-shadow: 0 0 0 5px #3a3a3c;
    opacity: 1;
  }
}

@-webkit-keyframes bounceOutt {
  0% {
    box-shadow: 0 0 0 4px #3a3a3c;
    opacity: 1;
  }

  25% {
    box-shadow: 0 0 0 1px #3a3a3c;
    opacity: 1;
  }

  50% {
    box-shadow: 0 0 0 7px #3a3a3c;
    opacity: 1;
  }

  75% {
    box-shadow: 0 0 0 4px #3a3a3c;
    opacity: 1;
  }

  100% {
    box-shadow: 0 0 0 5px #3a3a3c;
    opacity: 1;
  }
}
