
    body {
      color: #5a5a5a;
    }



    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: relative;
      z-index: 10;
      margin-top: 20px;
      margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }



    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 10px;
    }

    .carousel .container {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .carousel-control {
      background-color: transparent;
      border: 0;
      font-size: 120px;
      margin-top: 0;
      text-shadow: 2px 2px 2px rgba(0,0,0,.6);
      background-image: none !important;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-bottom: 100px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }

    .eventthumb
{
  margin:-15px 3px 18px 0px;
 
  border: 1px solid gray;
 
}

.sponsorinfo
{
  font-size: 14pt;
  margin-left:200px;
  text-align: justify;

}

#sponsorevents > ul
{
  display: inline;
}
#sponsorevents h3
{
  z-index: 2000;
  margin-top: 0px;
  color: #f8b619;
  margin-bottom: 30px;
  margin-left: -10px;
}

#myModalLabel
{
  color: #f8b619;
  margin:0;
}

#sponsorlogo
{
  margin-left:10px;
  margin-bottom:-15px;
  border: 1px solid gray;
}



.sponsor-fb
{
  height: 30px;
  width: 30px;
  background-image: url('../img/social/sponsor-fb.png');
}

.sponsor-fb:hover
{
  background-image: url('../img/social/sponsor-fbhover.png');
}

.sponsor-twitter
{
  height: 30px;
  width: 30px;
  background-image: url('../img/social/sponsor-twitter.png');
}

.sponsor-twitter:hover
{
  background-image: url('../img/social/sponsor-twitterhover.png');
}

.sponsor-google
{
  height: 30px;
  width: 30px;
  background-image: url('../img/social/sponsor-google.png');
}

.sponsor-google:hover
{
  background-image: url('../img/social/sponsor-googlehover.png');
}

.sponsor-youtube
{
  height: 30px;
  width: 30px;
  background-image: url('../img/social/sponsor-youtube.png');
}

.sponsor-youtube:hover
{
  background-image: url('../img/social/sponsor-youtubehover.png');
}

.sponsor-mail
{
  height: 30px;
  width: 30px;
  background-image: url('../img/social/sponsor-mail.png');
}

.sponsor-mail:hover
{
  background-image: url('../img/social/sponsor-mailhover.png');
}


    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }
    .marketing
    {
      margin-bottom: 20px;
    }

    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 20px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
      margin-top: -45px;
    }

    footer ul li
  {
    list-style: none;
  }

    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
      footer ul li
  {
    list-style: none;
  }

    }


    @media (max-width: 767px) {

      .navbar-inner {
        margin: -20px;
      }

      .carousel {
       /* margin-left: -20px;
        margin-right: -20px;*/
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-bottom: 40px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 16px;
        line-height: 1.5;
      }
      footer ul li
  {
    list-style: none;
  }
    }

@media (max-width: 320px){

  .container{width: 80%;}
  .carousel-caption{width: 110%;margin-bottom: 90px;margin-left:-20px;}
.carousel-caption h1.lead{font-size: 15px;}
.carousel-caption p.lead 
{font-size: 15px;font-weight: bold; width: 150%;margin-left:-40px; }
.carousel-caption .btn{width: 95px; font-size: 15px; height: 35px; }
ul li{ margin-left: 40px; }
ul li div{ width: 190px; height: 250px;}
.imgcont figcaption{font-size: 12px;}
.btn-branded {margin-bottom: -5px;}
#footer ul a{float: left; }
#scroll-top{margin: -100px 0px 0px 0px;}
}
@media (max-width: 360px){

  .container{width: 80%;}
  .carousel-caption{width: 110%;margin-bottom: 90px;margin-left:-20px;}
.carousel-caption h1.lead{font-size: 15px;}
.carousel-caption p.lead 
{font-size: 15px;font-weight: bold; width: 150%;margin-left:-40px; }
.carousel-caption .btn{width: 95px; font-size: 15px; height: 35px; }
ul li{ margin-left: 50px; }
ul li div{ width: 190px; height: 250px;}
.imgcont figcaption{font-size: 12px;}
.btn-branded {margin-bottom: -5px;}
#footer ul{ margin-left:-50px;}
#footer ul a{ float: left;}
/*#scroll-top{margin: -100px 0px 0px 0px;}*/
}

@media (max-width: 768px){
/*  .navbar-nav { margin-left: 30px;margin-top: 7px;}
.navbar-nav li{margin-left: 10px;}*/
  .carousel-caption{margin-left: 90px;}
ul li{ margin-left: 50px; }
ul li div{ width: 190px; height: 250px;}
.imgcont figcaption{font-size: 12px;}
.btn-branded {margin-bottom: -5px;}
/*#footer ul{ margin-left:-50px;}
#footer ul a{ float: left;}*/
#scroll-top{margin: -100px 0px 0px 0px;}
}
@media (max-width: 800px){
  .navbar-nav { margin-left: 30px;margin-top: 7px;}
.navbar-nav li{margin-left: 10px;}
  .carousel-caption{margin-left: 90px;}
ul li{ margin-left: 50px; }
ul li div{ width: 190px; height: 250px;}
.imgcont figcaption{font-size: 12px;}
.btn-branded {margin-bottom: -5px;}
#footer ul{ margin-left:-50px;}
#footer ul a{ float: left;}
#scroll-top{margin: -100px 0px 0px 0px;}
}
@media (max-width: 980px){
  .navbar-nav { margin-left: 30px;margin-top: 7px;}
.navbar-nav li{margin-left: 10px;}
  .carousel-caption{margin-left: 90px;}
ul li{ margin-left: 50px; }
ul li div{ width: 190px; height: 250px;}
.imgcont figcaption{font-size: 12px;}
.btn-branded {margin-bottom: -5px;}
#footer ul{  margin-left:-50px;}
#footer ul a{ float: left;}
#scroll-top{margin: -100px 0px 0px 0px;}
}
@media (max-width: 1280px){
  .navbar-nav { margin-left: 100px;margin-top: 0px;}
.navbar-nav li{margin-left: 10px;}
  .carousel-caption{margin-left: 300px;}
ul li{ margin-left: 80px; }
ul li div{ width: 190px; height: 250px;}
.imgcont figcaption{font-size: 12px;}
.btn-branded {margin-bottom: -5px;}
#footer ul{  margin-left:-50px;}
#footer ul a{ float: left;}
#scroll-top{margin: -100px 0px 0px 0px;}
}
/* ====================================================================== */
/* ===========================  Side NavMenu  =========================== */
/* ====================================================================== */
.menu
{
  min-height: 100px;
  margin-left: 0px;
  margin-right: 30px;
  
  
}
#menu-item
{
  height: 700px;
  width: 150px;
  position: absolute;
  display: block; 
  overflow: visible;
  margin-left: -160px;
  margin-top: 20px;
   -webkit-transition:all ease-in-out .4s;
    -moz-transition:all ease-in-out .4s;
    -o-transition:all ease-in-out .4s;
    transition:all ease-in-out .4s;
}

.menu:hover #menu-item
{
  margin-left: -25px;
}
ul
{
   list-style: none;
}

#menu-btn
{
  margin-top: 0px;
  margin-left: 0px;
  background-color:;
  height: 20px;
  width: 120px;
  color: #f8b619;
  font-family: Verdana;
  font-size: 14pt;
  text-align: center;
  border-left: 2px solid #282828;
  vertical-align: top;
}
#menu-btn i
{
  
  margin-top: 0px;
  background-color:;
  width: 18px;
  height: 20px;
}
.menu-itm
{
  margin: 5px;
  height: 20px;
  width: 120px;
  font-family: Verdana;
  line-height: 18px;
  font-size: 12pt;
  text-align: left;
  vertical-align: top;
}
.menu-itm:hover
{
  border-left: 3px solid #f8b619;
}
.menu-itm i
{
  width: 14px;
  height: 14px;
  left: 0;
  margin-right: 5px;

 }
.menu a
{
  color: black;
}

.menu a:hover
{
  text-decoration: none;
  color: rgb(248, 182, 25);
}

.menu #menu-btn:hover
{
  text-decoration: none;
}

#main-body
{
min-height: 600px;
}

#slider
{
  background-color: #59a6c3;
  height: 350px;
  margin-top: 5px;
  padding-top: 0px;
}

.body
{
  margin-top: 46px;
}
/* ====================================================================== */
/* =========================  End Side NavMenu  ========================= */
/* ====================================================================== */

.block
{
  background-color: #f1f1f1;
  margin-bottom: 30px;
}

.block h3
{
  text-align: center;
  margin-bottom: 5px;
}

.thumb
{
  margin: 0px;
  background-color: #202020;
}

.sidebar-nav 
{
}

.brndfullbar
{
  margin-left: 20px;
}



.sponcont {
  list-style: none;
  margin-left: -45px;
}
.imgcont {
  list-style: none;
  margin-left: -60px;
}

.imgcont li {
  display: inline-block;
  text-align: left;
  position: relative;
  margin-bottom: 30px;
}

.imgcont figure {
  margin: 0;
  position: relative;
}

.imgcont figure img {
  max-width: 100%;
  display: block;
  position: relative;
}

.imgcont figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px;
  background: #3a3a3c;
  color: #f8b619;
}

.imgcont figcaption h3 {
  margin: -20px 0px 0px -15px;  
  padding: 0;
  color: #fff;
}
.imgcont figcaption p {
  margin: 0px 0px 0px -15px;  
  padding: 0px 15px 0px 0px;
}

.imgcont figcaption a {
  text-align: center;
  padding: 5px 10px;
  display: inline-block;
}

/* Individual Caption Styles */


/* Caption Style 3 */
.cs-style-3 figure {
  overflow: hidden;
}

.cs-style-3 figure img {
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}

.cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
}

.cs-style-3 figcaption {
  height: 100px;
  width: 100%;
  top: auto;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
  transition: transform 0.4s, opacity 0.1s 0.3s;
}

.cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
  -moz-transition: -moz-transform 0.4s, opacity 0.1s;
  transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
  position: absolute;
  bottom: 10px;
  right: 10px;
}



@media screen and (max-width: 31.5em) {
  .imgcont {
    padding: 10px 10px 100px 10px;
  }
  .imgcont li {
    width: 100%;
    min-width: 300px;
  }
}


.about1
{
  background: #F9F9DD;
  margin: 60px 0 0 -100px;
  padding: 5px 0px 0px 100px;
}

.about2
{
  background: #F9F9DD;
  margin: 60px -130px 0 20px;
  padding: 5px 120px 0px 20px;
}

.lastrow
{
  margin-bottom: 30px;
}
/*=================================================================*/
/*================================articles=========================*/
/*=================================================================*/
.article-list
{
  list-style: disc;
}

.smartech
{
  color: red;
  font-size: 16pt;
  font-family: serif;
}
#kbarmo5ak p
{
  
}

/*=================================================================*/
#scroll-top {
  position:fixed; 
  /* On top of everything */
  z-index:9999; 
  bottom:0;
  right:0;
  margin: 5px 1px 45px 0px;
  display:inline-block;
  width: 50px;
  height: 50px;
  border-radius:25px;
  color:#fafafa;
  text-decoration:none;
  background: rgba(51, 51, 51, 0.2);
  letter-spacing:1px;
  text-align: center;
  text-transform:uppercase;
}

#scroll-top:hover
{
  background: rgba(51, 51, 51, 0.5);
}
/* 
* Up Arrow for the scroll top link 
*/
#scroll-top:after {
  display:inline-block;
  vertical-align:middle;
  margin-left:35px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right:  3px solid transparent;
  border-bottom:  3px solid #fefefe;
}


/* 
* When the viewport is 55em 
* (15em wider than the 40em 
* max-width for #content ) 
* it gets a static postion to not 
* overlap the content area 
*/
@media screen and (max-width: 55em) {
  #scroll-top {
    float:right;
    position:static;
    margin:0;
  }
}

/*===================================================================*/
/*==========================  Footer  ===============================*/
/*===================================================================*/
footer
{
  width: 100%;
  background-color: #6d6d6d;
  /*margin-top: 30px;*/
}
#foot
{
  color: #f8b619;
  padding: 5px;
  letter-spacing: 1px;
  text-align: center;
}
#footer
{
  /*padding: 20px;*/
  background-color: #f7f7f7;
  color: #202020;
}
.footer-container
{
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
#feedback
{
  background-image: url('../img/footer/feedback.png');
  background-repeat: no-repeat;
  background-position: 28px 20px;
  height: 235px;
  padding-left: 20px;
  border-right: 1px solid #f1f1f1;
  border-left: 1px solid #f1f1f1;
}
#feedback:hover
{
  background-image: url('../img/footer/feedbackhover.png');
}
#subscribe
{
  border-right: 1px solid #f1f1f1;
  padding-right: 30px;
  height: 235px;
}

#footer img
{
  margin: 5px;
}

#fotrclm3
{
  border-left: 1px solid #f1f1f1;
  height: 235px;
  margin-left: 0px;
  padding-left: 20px;
  padding-right: 20px;
}



/*.spon-title
{
background-color: #f1f1f1;
font-size: 24px;
text-align: center;
padding: 10px 0px 10px 0px;
width: 240px;
margin: 0px -5px 10px -5px;
z-index: -50;
color: #282828;
border-bottom: 5px solid #3a3a3c;
border-right: 5px solid #3a3a3c;
border-left: 5px solid #3a3a3c;
}*/

/*=========================================================*/
/*===================== Form ==============================*/
/*=========================================================*/

.form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin-heading {text-align: center; margin-bottom: 20px;}
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
/*===========  general =============*/
.fixed-size-250x250
{
  height: 250px;
  width: 250px;
}

.fixed-size-100x100
{
  height: 100px;
  width: 100px;
}

.fixed-size-90x90
{
  height: 90px;
  width: 90px;
}
/*================updates===============*/
@media(max-width: 992px) and (min-width: 768px){
  .navbar-header{
    width: 100%;
  }
  .navbar-header img{
  	margin-left: auto;
  margin-right: auto;
  display: inherit;
  }
  .navbar-collapse {
    width: 100%;
  }
  ul.navbar-nav{
    margin-left: 0 !important;
  }
}
.margin-down-10
{
	margin-bottom: 10px !important;
}
.display-inline-block
{
	display: inline-block !important;
}
.social-networks2 ul{
	  width: auto;
  margin-left: -30px;
  margin-right: auto;
  display: inline-block;
  padding: 0;
}
@media(max-width: 768px){
	.social-networks2{width: 100%;margin-left: 0 !important;}
	.social-networks2 ul,#footer ul{  
		display: inline-block;
  		margin-left: 25%;
  		margin-right: auto;
  		padding: 0;
  	}
  	.social-networks2 ul li i{font-size: 16pt;}
}



#foot
{
  margin: 0;
}