<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/bootstrap-switch.css">	
	<link rel="stylesheet" href="css/switch-highlight.css">	
	
	<meta charset="UTF-8">
	<title>Support's CPanel | Create An Event </title>
</head>
<body>
 	<div class="container">
		<div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Admin Panel</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Events</a></li>
              <li><a href="#">Sponsers</a></li>
              <li><a href="#">Slider</a></li>
              <li><a href="#">Register</a></li>
              <li><a href="#">Supportians</a></li>
              <li><a href="#">Post</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class=" message-btn"><a href="#"><i class="glyphicon glyphicon-envelope"></i></a></li>
              <li class="dropdown user-option-btn">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="glyphicon glyphicon-user"></i><i class="caret"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Create Account</a></li>
                            <li><a href="#">Change Password</a></li>
                            <li><a href="#">Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Logout</a></li>
                        </ul>   
                    </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>
	<!-- Events Panel -->
		<div class="col-sm-9">
	    	<form class="form-horizontal" method="POST" action="">
    			<div class="form-group">
        		<label for="Available" class="control-label col-xs-2">Availibility :</label>

        			<input type="checkbox" id="Available" name="download-version" checked data-size="large" data-on-text="On" data-off-text="Off">
        		</div>
    			<div class="form-group">
        			<label for="inputEmail" class="control-label col-xs-2">Event Name :</label>
        			<div class="col-xs-10">
            		<input type="email" class="form-control" id="inputEmail" placeholder="Type the Event Name">
        			</div>
    			</div>
    			<div class="form-group">
        		<label for="inputslogan" class="control-label col-xs-2">Event Slogan :</label>
	        		<div class="col-xs-10">
	            	<input type="text" class="form-control" id="inputslogan" placeholder="Type the Evet Slogan">
	        		</div>
    			</div>
    			<div class="form-group">
        		<label for="inputlink" class="control-label col-xs-2">Event slug :</label>
	        		<div class="col-xs-10">
	            	<input type="text" class="form-control" id="inputlink" placeholder="type the slug ">
	        		</div>
    			</div>
    			<div class="form-group">
        		<label class="control-label col-xs-2">Image Logo :</label>
	        		<div class="col-xs-10">
	            	<input type="file" class="form-control" id="img-upload" placeholder="Paste the Event Link ">
	            	<label class="btn btn-primary" for="img-upload">Upload logo</label>
	        		</div>
    			</div>
    		
    			<div class="form-group">
        		<label for="inputlink" class="control-label col-xs-2">Event Date :</label>
	        		<div class="col-xs-10">
	            	<input type="text" class="form-control" id="inputlink" placeholder="Event Date">
	        		</div>
    			</div>
    				<div class="form-group">
        		<label for="short-des" class="control-label col-xs-2">Event Short Description :</label>
	        		<div class="col-xs-10">
	            	<textarea class="form-control" id="short-des"></textarea>
	        		</div>
    			</div>
    			<div class="form-group">
        		<label class="control-label col-xs-2">Event Description :</label>
	        		<div class="col-xs-10">
	            	<!-- tinymce Text Editor -->
		            	<div class="event-description"></div>
	        		</div>
	        		<!-- End tinymce Text Editor -->
    			</div>
    			


    			<div class="form-group">
        			<div class="col-xs-offset-2 col-xs-10 text-right">
            		<button type="submit" class="btn btn-primary">Save</button>
        			</div>
    			</div>
			</form>   	
	    </div>
	  </div>
	  	
	</div><!-- End Main Panel -->
	</div><!-- End Container-->

	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-switch.js"></script>
    <script src="js/switch.js"></script>
    <script src="js/switch-highlight.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="text-editor/tinymce/js/tinymce/tinymce.min.js"></script>
	<script>tinymce.init({selector:'.event-description'});</script>
</body>
</html>