<!DOCTYPE html>
<html>
<head>
	<!-- Styles -->
    <link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/bootstrap-switch.css">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!-- Scripts -->


	<!-- == -->
    <meta charset="UTF-8">
	<title>Admin's Panel | Events</title>
</head>
<body>
 	<div class="container">
			<div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Admin Panel</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Events</a></li>
              <li><a href="#">Sponsers</a></li>
              <li><a href="#">Slider</a></li>
              <li><a href="#">Register</a></li>
              <li><a href="#">Supportians</a></li>
              <li><a href="#">Post</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class=" message-btn"><a href="#"><i class="glyphicon glyphicon-envelope"></i></a></li>
              <li class="dropdown user-option-btn">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="glyphicon glyphicon-user"></i><i class="caret"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Create Account</a></li>
                            <li><a href="#">Change Password</a></li>
                            <li><a href="#">Profile</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Logout</a></li>
                        </ul>   
                    </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>
	<!-- Events Panel -->
<div class="row">
<div class="col-sm-12">
<a href="create-event.html"><div class="btn btn-success col-sm-3 col-sm-offset-9">Create</div></a>

</div>
	
		<div class="col-sm-12">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Users</h3>
                <div class="pull-right">
                    <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr class="filters">
                        <th><input type="text" class="form-control" placeholder="#" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Event" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Last Update" disabled></th>
                        <th><input type="text" class="form-control" placeholder="Updated By" disabled></th>
                    	<th><input type="text" class="form-control" placeholder="Options" disabled></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>kabar mo5ak</td>
                        <td>12-9-2012</td>
                        <td>user</td>
                        <td><a href="sponser-edit.html"><div class="glyphicon glyphicon-edit"></div></a> | <div class="glyphicon glyphicon-trash"></div></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Kabar mo5ak</td>
                        <td>12-9-2012</td>
                        <td>user</td>
                        <td><a href="sponser-edit.html"><div class="glyphicon glyphicon-edit"></div></a> | <div class="glyphicon glyphicon-trash"></div></td>
                    </tr>
                </tbody>
            </table>
        </div>
   
</div>
	</div><!-- End Container-->
	</div>

	<script src="js/jquery.js"></script>
	<script type="text/javascript" src="js/switch-init.js"></script>
	<script type="text/javascript" src="js/site.js"></script>
	<script type="text/javascript" src="bootstrap-switch.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/filter.js"></script>
</body>
</html>